<template>
  <div>
    {{nomeModulo}}
  </div>
</template>

<script>
  export default{
    async asyncData(){},
    components: {},
    data(){
      return {}
    },
    computed: {},
    mounted(){},
    methods: {},
    watch: {},
    head(){
      return {
        title: ''
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
